@page "/editlibrary/{Id}"
@page "/addlibrary"
@inherits EditLocationBase

<div class="container" style="margin-top:5%;">
    <h4>@HeaderText</h4>
    <hr />
    <EditForm Model="Location" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group row">
            <label for="locationcityname" class="col-sm-2 col-form-label">
                City Name
            </label>
            <div class="col-sm-10">
                <InputText id="locationcityname" class="form-control" placeholder="City Name" @bind-Value="Location.CityName">
                </InputText>
                <ValidationMessage For="@(()=>Location.CityName)"></ValidationMessage>
            </div>
        </div>
        <div class="form-group row">
            <label for="libraryname" class="col-sm-2 col-form-label">
                City Name
            </label>
            <div class="col-sm-10">
                <InputText id="libraryname" class="form-control" placeholder="Library Name" @bind-Value="Location.LibraryName">
                </InputText>
                <ValidationMessage For="@(()=>Location.LibraryName)"></ValidationMessage>
            </div>
        </div>
        <button class="btn btn-info" type="submit">Save</button>
        <a class="btn btn-outline-secondary" href="@("libraries")">Cancel</a>
        @if (Location.id > 0)
        {
            <button class="btn btn-danger float-right" type="button" @onclick="@Delete_Click">Delete</button>
        }
    </EditForm>
</div>
<Confirm @ref="DeleteConfirmation" ConfirmationChanged="Confirm_DeleteClick"></Confirm>